<div class='container'>
  <h3>关于我</h3>
  <p>名称: 刘祯</p>
  <p>学历: 本科</p>
  <p>工作经历: xxxx</p>
  <p>性别: 女</p>
  <p>爱好: 宅, 听音乐, 爬山, 吃</p>
  <p>个人博客: <a href='http://liuzhen.me'>http://liuzhen.me</a></p>
  <p>邮箱: 550686383@qq.com</p>
</div>
