<div class='show-background'>
  <div class='about-background'>
    <h3>个人简介</h3>
    <div class='self-info'>
      <p class='title-self'>名称:</p><div class='worker-use'>刘祯</div>
      <p class='title-self'>教育背景:</p>
      <div class='worker-use'>计算机科学与技术, 本科</div>
      <p class='title-self'>工作经历:</p>
      <div class='worker-use'>
        <p>掌握 Ruby 语言,熟悉 Ruby on Rails 框架, Juint, Gtest 单元测试框架</p>
        <p>负责过自动化测试框架编写、自动化用例编写,单元测试,接口测试</p>
        <p>UIhelper 自动化框架开发与维护</p>
        <p>利用 Solr, Nutch 开源框架结合 Rails, 搭建企业级搜索引擎</p>
        <p>开发 Rails 项目[ 云测试平台 ]</p>
        <p>花了一星期的时间用 Rails 写了个人博客:<a href='http://liuzhen.me'> http://liuzhen.me</a></p>
      </div>
      <p class='title-self'>技能:</p>
      <div class='worker-use'>
        <p>Ruby, Ruby On Rails, Tortoise SVN, Git, Test Automation, Watir, WebDriver, JavaScript, CSS, HTML</p>
      </div>
      <p class='title-self'>性别:</p><div class='worker-use'>女</div>
      <p class='title-self'>爱好:</p><div class='worker-use'>宅, 听音乐, 爬山, 吃, 喝, 玩</div>
      <p class='title-self'>个人博客:</p><a class='worker-use' href='http://liuzhen.me'>http://liuzhen.me</a>
      <p class='title-self'>邮箱:</p><div class='worker-use'>550686383@qq.com</div>
      <p class='title-self'>博客源代码:</p><a class='worker-use' target='_blank' href='https://github.com/liuzhenangel/Rina_Blog'>https://github.com/liuzhenangel/Rina_Blog</a>
    </div>
  </div>
</div>
