<div class='container'>
  <div class="row">
    <div class="col-md-8">
      <h2 class='rina-title'>标题</h2>
      <div class='content markdown'>博客内容</div>
    </div>
    <div class="col-md-4">
      <div class="search-field">
        <input class="form-control" placeholder="Search" type="text">
      </div>
      <ul class="nav rina-new-article">
        <li><h3 class="widgettitle">最新文章</h3></li>
        <li class="rina-new-title"><a href="#">博客1</a></li>
        <li class="rina-new-title"><a href="#">博客2</a></li>
        <li class="rina-new-title"><a href="#">博客3</a></li>
      </ul>
    </div>
  </div>
</div>
