<div class="row index-row">
  <% @articles.each_with_index do |artc1, index| %>
    <div class="col-sm-6">
      <div class="ih-item square effect3 bottom_to_top index-row">
        <div class='index-title'><%= artc1.title %></div>
        <%= link_to article_path(artc1) do %>
          <div class="img"><%= image_tag("#{index + 1}.jpg") %></div>
          <div class="info">
            <h3><%= artc1.title %></h3>
            <p>点击查看</p>
         </div>
        <% end %>
     </div>
    </div>
  <% end %>
</div>
