.rina-admin-navbar{
  min-height: 50px;
  height: 50px;

  a {
    padding-top: 15px;
    padding-bottom: 14px;
    line-height: 20px;
  }

  li > a {
    padding-top: 15px;
    padding-bottom: 14px;
    line-height: 20px;
  }
}

img{
  display: block;
}

.rina-logo{
  height: 50px;
}

.article-title{
  margin-top: 60px;
}

#article_title{
  width: 267px;
  margin-top: 26px;
  margin-bottom: 30px;
}

#article_content{
  width: 1138px;
  height: 505px;
}

input[type='file']{
  display: none;
}

.markdown-body{
  display: none;
  border: 1px solid #C5C5C5;
  padding: 0px 10px;
  overflow: scroll;
  width: 1138px;
  height: 505px;
}

