.navbar-brand img{
  width: 65px;
}

//相册
.photo-body{
  width: 960px;
  margin: 0px auto;
  background: image-url('bg.png');
  overflow-y: scroll;
}

.photo-container{
  width: 990px;
}

section{
  margin-top: 50px;
}

a {
  color: #088BBF;
  text-decoration: none;
}
h1 {
  display: inline-block;
  margin: 0;
}
#down {
  position: relative;
  top: -18px;
  margin: 0 1em;
}
.slider-wrap {
  background: white;
  padding: 10px;
  width: 960px;
  height: 447px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.slider {
  width: 940px;
  height: 400px;
}
.slider strong { color: #F0E10E; }
article {
  position: relative;
}
.title {
  padding: 1em 0;
  position: relative;
  margin-bottom: 25px;
}
.code,
#effects-select {
  display: inline-block;
}
#effects-select {
  padding: .4em;
  margin-right: 1em;
  font-size: 14px;
  border: 1px solid #aaa;
}
label { margin-right: .5em; }
code {
  padding: .5em 1em;
  background: rgba(255,255,255,.75);
  font-size: 14px;
  margin: 0 .2em;
  font-family: Ubuntu Mono, monospace;
}
.action {
  position: absolute;
  right: 0;
  top: 13px;
  color: white;
  background: black;
  border: 0;
  width: 80px;
  padding: .6em 0;
}
.stop {
  display: none;
  background: #088BBF;
  text-shadow: 1px 1px rgba(0,0,0,.4)
}

footer {
  margin-top: 2em;
}

//end 相册

.about-background{
  background-image: image-url("CZ16VX4.gif");
}

p{
  margin: 18px 0 10px;
}

.square-p{
  margin: 0 0 10px;
}

.header-circle{
  margin-top: 10px;
  margin-bottom: 10px;
}

.self-info{
  padding-left: 20px;
  margin-top: 26px;
  margin-bottom: 30px;
}

.worker-use{
  padding-left: 35px;
}

.title-self{
  font-weight: bolder;
}

.page-footer{
  border-top: 1px solid #dddddd;
  padding: 1rem 0 2rem;
  text-align: right;
}

.page-footer .link {
  margin-right: 1rem;
}

.page-footer .license {
  margin-top: 1rem;
}

.index-row{
  margin-top: 10px;
  margin-bottom: 15px;
}

.index-btn-info{
  margin-left: 15px;
}

.index-navbar-right{
  margin-top: 98px;
  text-align: right;
}

.a{
  color: #FFFFFF;
}

.rina-header{
  border-bottom: 1px solid #CACACA;
}

.rina-new-article{
  margin-top: 20px;
}

.all-article{
  margin-top: 20px;
  margin-left: 205px;
}

.create-comment{
  margin-top: 20px;
}

.comment-wrapper {
  margin-bottom: 0.5rem;
}

.comment-wrapper .comment-content {
  word-wrap: break-word;
  color: #000000;
  white-space: pre-wrap;
  word-break: break-all;
}

.comment-diag .created-at {
  color: #b3b3b3;
}

.comment-wrapper .name {
  color: #000000;
}

.comment-content {
  padding-bottom: 2.275rem;
  padding-left: 0.275rem;
  border-bottom: 1px dashed #8a8a8a;
  margin-bottom: 0;
  white-space: pre;
}

.comment-diag {
  color: #EBEBEB;
  border-top: 1px solid #5E5E5E;
  padding-top: 1rem;
}

.form-comment{
  width: 40%;
}

.widgettitle{
  font-size: 15px;
  margin-bottom: 1px;
  padding: .3em 5px 1em 0em;
  border-bottom: 1px solid #ccc;
}

.rina-title{
  border-bottom: 1px solid #dddddd;
  padding: .5rem 0;
  text-align: center;
}

.article-show{
  text-align: center;
}

.content.markdown{
  padding: 1.2rem 0;
  font-size: 16px;
}

.search-field {
  margin-top: 30px;
}

.search-field input{
  width: 13em;
  margin: 0;
  padding: 6px 6px 6px 23px;
  border: 1px solid #ccc;
  background: #fff image-url('search.gif') no-repeat 190px center;
  font-size: 1.2em;
}

.rina-new-title{
  margin: 0;
  padding: .3em 5px .4em 1em;
  line-height: .3;
  border-bottom: 1px dotted #bbb;
  font-size: .9em;
}
