<!DOCTYPE html>
<html>
<head>
<title>Rina's Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse rina-admin-navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class='navbar-brand rina-logo' href="/admin/posts">Rina</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/admin/posts/new">创建博客</a></li>
        <li><a href="/admin/posts">博客管理</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">返回首页</a></li>
        <% if login? %>
          <li><a href="/signout">退出</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>
</body>
</html>
